.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921; /*amazon navbar background color*/
    position: sticky; /*Even when we scroll down the navbar sticks to its position ont he screen*/
    top: 0; /*It has no vertival offset from it sparent ones*/
    z-index: 100; /*Specifies which should be on top it is for stacking of elements*/
}

.header__logo{
    width: 100px;
    object-fit: contain; /*Maintsins iits aspect ratio*/
    margin: 0 20px;
    margin-top: 18px;
}

.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.search__input{
    height: 12px;
    padding: 10px;
    width: 95%;
    border: none;
}


.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}


.header__optionLineOne{
    font-size: 15px;
}

.header__optionLineTwo{
    font-size: 18px;
    font-weight: 800;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
    
}

.header__cartItems{
    margin-left: 8px;
    margin-right: 8px;
}
